<app-table-layout [title]="title">
  <ng-container tabla>
    <table class="styled-table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">phone</th>
        </tr>
      </thead>

      <tbody>
        @for (user of users; track $index) {
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
        </tr>
      }
      </tbody>
    </table>
  </ng-container>
</app-table-layout>
