<nav>
    <label class="logo">MIGRAPP</label>
    <ul>
        <li>
            <a mat-button routerLink="home" routerLinkActive="active">
                <mat-icon>home</mat-icon>
                Home
            </a>
        </li>
        <li>
            <a mat-button routerLink="metrics" routerLinkActive="active" class="nav-link">
                <mat-icon>equalizer</mat-icon>
                Metrics
            </a>
        </li>
        <li>
            <a mat-button routerLink="users" routerLinkActive="active" class="nav-link">
                <mat-icon>person</mat-icon>
                Users
            </a>
        </li>
        <li>
            <a mat-button routerLink="audits" routerLinkActive="active" class="nav-link">
                <mat-icon>search</mat-icon>
                Audits
            </a>
        </li>
        <li>
           <a mat-button routerLink="roles" routerLinkActive="active" class="nav-link">
                <mat-icon>tune</mat-icon>
                Roles
            </a>
        </li>
    </ul>
</nav>

