body {
    background-color: #f1f1f1;
    display: flex;
    width: 100%;                     /* Ocupa todo el ancho de la pantalla */
}

.container {
    display: flex;
    width: 100%;                    
    height: 100%;         
}
.container-main {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 100%;               
    background-color: #f1f1f1;
}

/* Estilo para cada uno de los contenedores */
.box1 {
    width: 26%;  /* 20% del ancho de la pantalla */
        /* Margen solamente a la izquierda */
    background-color: #ffffff;  /* Color de fondo */
}

.box2 {
    background-color: #f1f1f1;  
    margin-bottom: 30px;   
    height: 10%;
    border-bottom: 2px solid #BEBEBE;
}
.box3 {
    background-color: #ffffff;
    margin-bottom: 7px;  
    margin-top: 10px; 
    height: 100%;
    padding: 10px 20px;
}  
