<div class="upper">
  <h1 class="title">Registro de actividad</h1>
</div>

<app-table-layout>
  <ng-container tabla>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Tipo de Acción</th>
          <th>Dirección IP</th>
          <th>Descripción</th>
          <th>Fecha y Hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logs">
          <td>{{ log.actionType }}</td>
          <td>{{ log.ipAddress }}</td>
          <td>{{ log.description }}</td>
          <td>{{ log.actionDate | date:'short' }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</app-table-layout>