<div class="upper">
  <h1 class="title">Activity Log</h1>
</div>

<app-table-layout>
  <ng-container tabla>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Action Type</th>
          <th>IP Address</th>
          <th>Description</th>
          <th>Date and time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logs">
          <td>{{ log.actionType }}</td>
          <td>{{ log.ipAddress }}</td>
          <td>{{ log.description }}</td>
          <td>{{ log.actionDate | date:'short' }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</app-table-layout>