<div class="upper">
  <h1 class="title">Users</h1>
  <button class="mainbutton" (click)="goToNewUser()">New User</button>
</div>

<app-table-layout (filtersChanged)="applyFilters($event)">
  <ng-container tabla>
    <button class="flat-button" [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon>
      Add Columns
    </button>
    
    <mat-menu #menu="matMenu">
      <!-- Evitar que el menú se cierre al seleccionar un checkbox -->
      <div *ngFor="let column of availableColumns">
        <mat-checkbox [(ngModel)]="column.selected" (click)="onCheckboxClick($event)">
          {{ column.label }}
        </mat-checkbox>
      </div>
      <button class="flat-button" (click)="applySelectedColumns()">Apply columns</button>
    </mat-menu>

    <table class="styled-table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col" *ngIf="isColumnVisible('name')">Name</th>
          <th scope="col" *ngIf="isColumnVisible('lastName')">Last Name</th>
          <th scope="col" *ngIf="isColumnVisible('email')">Email</th>
          <th scope="col" *ngIf="isColumnVisible('country')">Country</th>
          <th scope="col" *ngIf="isColumnVisible('accountStatus')">Account Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <a [routerLink]="['/users/details-user', user.userId]" class="clickable-name">
            {{ user.userId }}
            </a>
          </td>
          <td *ngIf="isColumnVisible('name')">
              {{ user.name }}
          </td>
           <td *ngIf="isColumnVisible('lastName')">{{ user.lastName }}</td>
           <td *ngIf="isColumnVisible('email')">{{ user.email }}</td>
          <td *ngIf="isColumnVisible('country')">{{ user.country }}</td>
          <td *ngIf="isColumnVisible('accountStatus')">{{ user.accountStatus }}</td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      [length]="totalUsers"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </ng-container>
</app-table-layout>
