<div class="upper">
  <h1 class="title">Roles</h1>
</div>

<app-table-layout (filtersChanged)="applyFilters($event)">
  <ng-container tabla>
    <table class="styled-table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">País</th>
          <th scope="col">Estado de cuenta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userId }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.country }}</td>
          <td>{{ user.accountStatus }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</app-table-layout>