<app-table-layout [title]="title">
  <ng-container tabla>
    <table class="styled-table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Rol</th>
          <th scope="col">State</th>
        </tr>
      </thead>

      <tbody>
        @for (rol of roles; track $index) {
        <tr>
          <td>{{rol.id}}</td>
          <td>{{rol.name}}</td>
          <td>{{rol.rol}}</td>
          <td>{{rol.state}}</td>
        </tr>
      }
      </tbody>
    </table>
  </ng-container>
</app-table-layout>