/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    height:fit-content;
}

.title {

    font-family: 'Poppins';
    font-size: 32px;
    padding: 0px 0px 20px 5px;
    margin-bottom: 10px;

  }

.upper{
  border-bottom: 2px solid #BEBEBE;
  display: flex;
  justify-content: space-between;
  align-items: center;  /* Opcional: Alinea verticalmente en el centro */
  width: 100%;  /* Asegúrate de que el contenedor ocupe todo el ancho */
}
