.container-fluid{
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 2px solid #BEBEBE;
}

.main-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Agrega espacio entre los elementos */
  font-size: 15px;
  padding: 15px;
  color: black;
  text-decoration: none;
}

.main-link mat-icon {
  font-size: 35px;
  width: auto; /* Asegura que el contenedor se ajuste al tamaño del ícono */
  height: auto; /* Ajusta la altura también */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra suave */
  transition: all 0.3s ease;
  }

.main-link:hover mat-icon {
  transform: scale(1.1); /* Aumenta el tamaño del icono */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Sombra más intensa en hover */
}

.main-link:hover {
  color: #0D47A1; /* Cambia el color del texto en hover (si lo deseas) */
}
