<div class="card">
  <div class="upper">
    <h1 class="title">Bienvenido Miguel</h1>
  </div>

    <div class="card-content">
        <div class="container-fluid">

                <a class="main-link" routerLink="/users" routerLinkActive="active">
                    <mat-icon>person</mat-icon>
                    Users
                </a>

                <a class="main-link" mat-button routerLink="/roles" routerLinkActive="active">
                    <mat-icon>tune</mat-icon>
                    Roles
                </a>

                <a class="main-link" mat-button routerLink="/metrics" routerLinkActive="active">
                    <mat-icon>equalizer</mat-icon>
                    Metrics
                </a>
                <a class="main-link" mat-button routerLink="/audits" routerLinkActive="active">
                    <mat-icon>search</mat-icon>
                    Audit Logs
                </a>
        </div>

    </div>


</div>



