<h2 mat-dialog-title>Código de Verificación</h2>
<mat-dialog-content>
  <p>Escribe el código de verificación enviado a tu correo</p>

  <form [formGroup]="form" (ngSubmit)="verificarCodigo()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Código</mat-label>
      <input matInput formControlName="code" required>
      <mat-error *ngIf="form.controls['code'].hasError('required')">
        El código es obligatorio.
      </mat-error>
    </mat-form-field>

    <div>
      <span>Tiempo restante: {{ countdown }} segundos</span>
    </div>
    
    <div>
      <button mat-button (click)="onNoClick()">Cancelar</button>
    </div>

    <div>
      <button mat-button type="submit">Verificar Código</button>
    </div>
  </form>
</mat-dialog-content>